.add_new {
  display: grid;
  grid-template-columns: 17% 83%;
  justify-content: center;
  gap: 20px;

  .new_page {
    .new_page_main {
      padding: 20px 25px;
      .new_page_content {
        box-shadow: 2px 4px 10px rgba(201, 201, 201, 0.47);
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 20px;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;

        .image {
          display: flex;
          flex-direction: column;
          align-items: center;

          .add_new_user {
            color: rgba(128, 128, 128, 0.8);
            font-size: 24px;
            margin-bottom: 20px;
          }

          img {
            height: 150px;
            width: 150px;
            background-color: rgba(128, 128, 128, 0.2);
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .form {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 20px;
          position: relative;

          .form_inp {
            display: flex;
            flex-direction: column;
            label {
              margin-bottom: 5px;
              font-weight: bold;
            }
            .file_icon {
              cursor: pointer;
              font-size: 24px;
              color: #7451f8;
            }
          }

          .submit_btn {
            align-self: center;
            margin-top: 20px;
            width: 100%;
            max-width: 200px;
            padding: 10px;
            border: none;
            background-color: #7451f8;
            color: white;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
              background-color: white;
              color: #7451f8;
              border: 1px solid #7451f8;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .add_new {
    grid-template-columns: 100%;

    .home_sidebar {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .add_new {
    .new_page {
      .new_page_main {
        .new_page_content {
          grid-template-columns: 1fr;
          gap: 30px;
        }
      }
    }
  }
}
